body {
  background: white;
  text-decoration: underline
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-family: monospace;
}
body {
  background-image: url('https://cdnimg.webstaurantstore.com/images/products/extra_large/430076/1658143.jpg');
  background-repeat: repeat;
  background-size: cover;
}