.Account-box {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    background-color: var(--background-color);

    position: relative;
    top: 0;
    left: 0;

    box-shadow: 0 0 0 0;

    transition-property: top, left, background-color;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.Account-box:hover {
    top: -0.5ch;
    left: 0.5ch;

    background-color: var(--background-highlight);
}

.Account-icon {
    width: 1.5em;
    height: 1.5em;

    margin: 0;
    padding: 0;
}
