.Placeholder {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Link {
    color: #61dafb;
}

.Title {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.Subtitle {
    font-size: small;
    font-style: italic;
    color: dimgray;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
