body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--text-color);
    background-color: var(--background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --text-color: black;
    --background-color: white;
    --border-color: darkgrey;
    --subtitle-text: dimgrey;
    --background-highlight: #e8e8e8;

    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: black;
        --border-color: grey;
        --subtitle-text: lightgrey;
        --background-highlight: grey;

        color-scheme: dark;
    }
}
